// Colors
$color-background-primary: #fff;

$color-text-primary: #000;
$color-text-muted: #666;
$color-text-lighten: #fff;

$color-action: #01b4e4;
$color-action-hover: #032541;
$color-action-disabled: #ececec;

$color-border-light: #eee;
$color-border-dark: #9e9e9e;

// Fonts
$font-open-sans: 'Open Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Box Shadows
$box-shadow-subtle: 0 2px 8px rgba(0, 0, 0, 0.1);

// Border Radius
$border-radius-sm: 8px;
$border-radius-lg: 14px;
