@use '../abstracts';

.content-wrapper {
    margin: abstracts.$header-height auto 0;
    padding: 30px 40px;
    max-width: abstracts.$content-max-width;

    @include abstracts.breakpoint(xs) {
        padding: 20px;
    }
}

.card {
    box-shadow: abstracts.$box-shadow-subtle;
    border: 1px solid abstracts.$color-border-light;
    border-radius: abstracts.$border-radius-sm;
    background: abstracts.$color-background-primary;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 25px;
    margin-bottom: 30px;

    @include abstracts.breakpoint(xl) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include abstracts.breakpoint(lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include abstracts.breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include abstracts.breakpoint(sm) {
        grid-template-columns: repeat(1, 1fr);
    }

    @include abstracts.breakpoint(xs) {
        gap: 20px;
    }
}

.chip-container {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
}

// generic
.clickable {
    cursor: pointer;
}
